h1,
h2,
h3,
a {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

h1 sub {
    font-size: 1.5rem;
}

h2 {
    font-size: 2rem;
}

h2 sub {
    font-size: 1rem;
}

h3 {
    font-size: 1.5rem;
}

a {
    display: block;
}

hr {
    margin: auto;
    max-width: 40rem;
    height: 0px;
    color: #5f5c7e;
}

section, footer {
    margin: auto;
    padding: 1rem;
    max-width: 30rem;
}

footer{
    margin-bottom: 2rem;
}

footer p {
    text-align: center;
}

body {
    color: #1000cc;
    font-family: monospace;
}

.copy {
    font-weight: bold;
}

.rainbow {
    -webkit-animation: rainbow 2.5s linear infinite;
    animation: rainbow 2.5s linear infinite;
}

@keyframes rainbow {

    100%,
    0% {
        color: rgb(255, 0, 0);
    }

    8% {
        color: rgb(255, 127, 0);
    }

    16% {
        color: rgb(255, 255, 0);
    }

    25% {
        color: rgb(127, 255, 0);
    }

    33% {
        color: rgb(0, 255, 0);
    }

    41% {
        color: rgb(0, 255, 127);
    }

    50% {
        color: rgb(0, 255, 255);
    }

    58% {
        color: rgb(0, 127, 255);
    }

    66% {
        color: rgb(0, 0, 255);
    }

    75% {
        color: rgb(127, 0, 255);
    }

    83% {
        color: rgb(255, 0, 255);
    }

    91% {
        color: rgb(255, 0, 127);
    }
}